{% extends 'base.html' %}

 {% block content %}
{% load crispy_forms_filters %}
<div class="col-lg-22">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">USERS LIST</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Company</th>
                     <th scope="col">User</th>
<!--                    <th scope="col">Start date</th>-->


                    <th scope="col">end date</th>
                    <th scope="col">medicine</th>
                     <th scope="col">quantity</th>
                    <th scope="col">Note</th>
                    <th scope="col">Approval</th>


                </tr>
                </thead>
                <tbody>
                {% for n in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{n.user.name}}</td>
                     <td>{{n.approval.user}}</td>
<!--                    <td>{{n.approval.start_date}}</td>-->

                    <td>{{n.approval.end_date}}</td>
                    <td>{{n.approval.medicine_name}}</td>
                     <td>{{n.approval.quantity}}</td>
                    <td>{{n.note}}</td>
                     <td>
                        {% if n.approval.status_1 == 1 %}

                        <a type="button" class="btn btn-success" href="{% url 'approve_donation' n.id %}">Approve</a>
                        <form action="{% url 'reject_donation' n.id %}" method="post" style="display: inline;"
                              onsubmit="window.mytest()">
                            {% csrf_token %}
                            <input type="hidden" value="{{ n.id }}"/>
                            <button class="btn btn-danger">Reject</Button>
                        </form>
                        {% elif n.approval.status_1 == 2 %}

                        <button type="button" class="btn btn-success">Approved</button>

                        {% elif n.approval.status_1 == 3 %}
                        <button type="button" class="btn btn-danger">Rejected</button>

                        {% endif %}
                    </td>




                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 {% endblock %}